.input-field-and-btn-wrapper{
    width: inherit;
    display: flex;
}

.input-field-div{
    text-align: left; 
    width: inherit;
}


.input-field-div-submitBtn{
    text-align: left; 
}
.input-label{

}
.input-field{
    width: 99%
}
